  @font-face {
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../assets/fonts/sansita-swashed-v5-latin-ext-regular.woff2') format('woff2'),
        url('../assets/fonts/sansita-swashed-v5-latin-ext-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../assets/fonts/overlock-v10-latin-ext-700.woff2') format('woff2'),
        url('../assets/fonts/overlock-v10-latin-ext-700.woff2') format('woff');
}
  @font-face {
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../assets/fonts/overlock-v10-latin-ext-regular.woff2') format('woff2'),
        url('../assets/fonts/overlock-v10-latin-ext-regular.woff2') format('woff');
  }