.form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://www.seitenalm.at/static/img/silhouette-heart-shape.svg'), var(--color-beige);
  background-repeat: repeat-x, no-repeat;
  background-position: right -10rem bottom -2px, center;  
  background-size: auto 8.5rem, 100% 100%; 
  margin-top: 80px;
  height: 200px;
}
@media (max-width: 420px) {
  div.form-container {
    margin-top: 70px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-left: 20px;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  overflow: auto;
}

.heading {
  font-family: 'Sansita Swashed', fallback;
  font-weight: inherit;
  font-size: 2.25rem;
  margin-bottom: .75rem;
  padding-bottom: 1.5rem;
  align-items: flex-start;
  color:#AA2E24;
  font-weight: 500;
  line-height: 1.1;
  background-image: url('https://www.seitenalm.at/static/img/deco-ornament-swing.svg');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.heading-text {
  font-family: 'Overlock';
  color: #424242;
  font-size: 18px;
}

:root {
  --color-beige: #F9F6F1;
  --color-beige_light: #FCFBF8;
}

.form-backgound {
  background-color: var(--color-beige_light);
  background-image: url('https://www.seitenalm.at/static/img/recyclingpaper_pattern.png');
  background-repeat: repeat;
  background-size: 60%;
  padding-top: 100px;
  height: 2000px;
  width: 100vw;
}

.form-align {
  width: 1148px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1300px) {
  .form-align {
    width: 100%;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; 
}

.form-content, label {
  font-size: 1.1rem;
  font-weight: 700;
  
  font-family: 'Overlock';
  color: #424242;
}

h2.form-heading {
  font-size: 1.9rem;
  margin-bottom: .75rem;
  padding-bottom: .80rem;
  align-items: flex-start;
  font-family: "Sansita Swashed";
  color:#AA2E24;
  font-weight: 500;
}

.form-field {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.form-field label {
  width: 30%; 
  font-weight: 700;
  text-align: right;
  padding-right: 3rem;
  font-size: 1.0625rem;
  font-family: 'Overlock';
}

.form-input,
button.form-input,
input.form-input {
  width: 70%;
  border: 1px solid;
  border-color: #d6d6d6;
  background-color: white;
  padding: 8px 12px;
  padding-right: 12px;
  border-radius: 5px;
  font-weight: 500;
}
input.form-input.flatpickr-input {
  background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22%23AA2E24%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20140%20140%22%3E%3Crect%20x%3D%2266.31%22%20y%3D%2279.81%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2281.01%22%20y%3D%2279.81%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2281.01%22%20y%3D%2294.51%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2281.01%22%20y%3D%2265.11%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2295.71%22%20y%3D%2265.11%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2295.71%22%20y%3D%2279.81%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2266.31%22%20y%3D%2265.11%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2236.91%22%20y%3D%2279.81%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2236.91%22%20y%3D%2265.11%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2236.91%22%20y%3D%2294.51%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2251.61%22%20y%3D%2265.11%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2266.31%22%20y%3D%2294.51%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2251.61%22%20y%3D%2279.81%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2251.61%22%20y%3D%2294.51%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Cpath%20d%3D%22M106%2C30.7h-4.66V27.06a3.5%2C3.5%2C0%2C0%2C0-7%2C0V30.7l-49.07-.48V26.59a3.5%2C3.5%2C0%2C1%2C0-7%2C0v3.63H33.6c-5.8%2C0-10.15%2C5.2-10.15%2C11V105.9A10.53%2C10.53%2C0%2C0%2C0%2C34%2C116.42h72a10.53%2C10.53%2C0%2C0%2C0%2C10.52-10.52V41.22A10.53%2C10.53%2C0%2C0%2C0%2C106%2C30.7ZM29.8%2C41.22A4.17%2C4.17%2C0%2C0%2C1%2C34%2C37.05h4.67v3.47a3.51%2C3.51%2C0%2C0%2C0%2C.21%2C1.15l0%2C.09a3.49%2C3.49%2C0%2C0%2C0%2C6.76-1.24V37.05h48.7v3.47a3.5%2C3.5%2C0%2C0%2C0%2C7%2C0V37.05H106a4.17%2C4.17%2C0%2C0%2C1%2C4.17%2C4.17l.14%2C11.17-80.7-1.55Zm77%2C70.11L34%2C110.07a4.17%2C4.17%2C0%2C0%2C1-4.17-4.17v-49h80.37l.8%2C50.26A4.18%2C4.18%2C0%2C0%2C1%2C106.8%2C111.33Z%22%20%2F%3E%3C%2Fsvg%3E');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  cursor: pointer;
}

.form-input-group {
  display: flex;
  justify-content: space-between;
  width: 70%; 
}

select.form-input, select.form-geb-input  {
  width: 30%; 
  border: 1px solid;
  border-color:#d6d6d6;
  background-color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 500;
  /* Custom arrow */
  -webkit-appearance: none;  
  -moz-appearance: none;     
  appearance: none;          
  background: white; 
  position: relative;
  padding-right: 3em;  /* Space for custom arrow */
  background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22%23AA2E24%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20140%20140%22%3E%3Cpath%20d%3D%22M74.16%2C96.59a112.12%2C112.12%2C0%2C0%2C1%2C39.47-45.42%2C4.57%2C4.57%2C0%2C0%2C0-3.93-8.26A118%2C118%2C0%2C0%2C0%2C69.92%2C85.24%2C118%2C118%2C0%2C0%2C0%2C30.15%2C42.91a4.57%2C4.57%2C0%2C1%2C0-3.89%2C8.27A112.27%2C112.27%2C0%2C0%2C1%2C65.69%2C96.59a4.6%2C4.6%2C0%2C0%2C0%2C4.1%2C2.56h.27A4.6%2C4.6%2C0%2C0%2C0%2C74.16%2C96.59Z%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 1.5em;  /* Arrow size */
  background-position: right 0.8em top 50%;
  background-repeat: no-repeat;
}
select.form-input {
  width: 70%; 
}

.form-geb-input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}


.form-input:focus {
  border-color: #AA2E24;
  border-radius: 5px;
  outline: none;
}

.form-span {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #424242;
  font-weight: 400;
}

.form-content p {
  cursor: pointer;
}

.form-content button {
  cursor: pointer;
  background-color: white;
}

.button-delete {
  color: #AA2E24;
  background: none;
  border: none;
  cursor: pointer;
}

.parent-container {
  display: flex;
  align-items: flex-end;
}

.underlined {
  text-decoration: underline;
  font-family: 'Overlock';
}

.underlined span {
  text-decoration: none;
}

.underlined:hover {
  text-decoration: none;
}

.responsive-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  flex-wrap: nowrap;
}

.add-child {
  color: #AA2E24;
  display: flex;
  align-items: center;
  align-self: flex-end;
  font-size: 18px;
  font-family: 'Overlock';
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;

}

.arrow {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 0.8em;
  background-image: url('https://www.seitenalm.at/static/img/icon-arrow-long-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.remove-child,
.remove-child:focus,
.remove-child:active {
  font-family: 'Overlock';
  font-weight: 400;
  font-size: 14px;
  color: gray;
  align-self: flex-end;
  background: none;
}

@media (max-width: 1024px) {
  .form-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;
  }

  .form-field label {
    width: 100%; 
    text-align: left;
    font-size: 1.0625rem;
    font-family: 'Overlock';
  }
  .form-input,
  button.form-input,
  input.form-input {
    width: 100%; 
    border: 1px solid;
    border-color: #d6d6d6;
    background-color: white;
    padding: 8px 12px;
    border-radius: 5px;
  }
  select.form-input {
    width: 100%; 
  }
  .form-container {
    height: 350px;
    margin-top: 0px;
  }

  .form-input-group {
    display: flex;
    justify-content: space-between;
    width: 100%; 
  }
}

button.form-input{
  width: 70%;
  border: 1px solid;
  border-color: #d6d6d6;
  background-color: white;
  padding: 8px 12px;
  padding-right: 40px;
  border-radius: 5px;
  font-weight: 500;
  background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22%23AA2E24%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20140%20140%22%3E%3Crect%20x%3D%2266.31%22%20y%3D%2279.81%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2281.01%22%20y%3D%2279.81%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2281.01%22%20y%3D%2294.51%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2281.01%22%20y%3D%2265.11%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2295.71%22%20y%3D%2265.11%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2295.71%22%20y%3D%2279.81%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2266.31%22%20y%3D%2265.11%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2236.91%22%20y%3D%2279.81%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2236.91%22%20y%3D%2265.11%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2236.91%22%20y%3D%2294.51%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2251.61%22%20y%3D%2265.11%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2266.31%22%20y%3D%2294.51%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2251.61%22%20y%3D%2279.81%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Crect%20x%3D%2251.61%22%20y%3D%2294.51%22%20width%3D%227.35%22%20height%3D%227.35%22%20rx%3D%222%22%20%2F%3E%3Cpath%20d%3D%22M106%2C30.7h-4.66V27.06a3.5%2C3.5%2C0%2C0%2C0-7%2C0V30.7l-49.07-.48V26.59a3.5%2C3.5%2C0%2C1%2C0-7%2C0v3.63H33.6c-5.8%2C0-10.15%2C5.2-10.15%2C11V105.9A10.53%2C10.53%2C0%2C0%2C0%2C34%2C116.42h72a10.53%2C10.53%2C0%2C0%2C0%2C10.52-10.52V41.22A10.53%2C10.53%2C0%2C0%2C0%2C106%2C30.7ZM29.8%2C41.22A4.17%2C4.17%2C0%2C0%2C1%2C34%2C37.05h4.67v3.47a3.51%2C3.51%2C0%2C0%2C0%2C.21%2C1.15l0%2C.09a3.49%2C3.49%2C0%2C0%2C0%2C6.76-1.24V37.05h48.7v3.47a3.5%2C3.5%2C0%2C0%2C0%2C7%2C0V37.05H106a4.17%2C4.17%2C0%2C0%2C1%2C4.17%2C4.17l.14%2C11.17-80.7-1.55Zm77%2C70.11L34%2C110.07a4.17%2C4.17%2C0%2C0%2C1-4.17-4.17v-49h80.37l.8%2C50.26A4.18%2C4.18%2C0%2C0%2C1%2C106.8%2C111.33Z%22%20%2F%3E%3C%2Fsvg%3E');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  cursor: pointer;
}

button.form-input.invalid {
  border-color: red !important;
  border-width: 2px !important;
}

@media (max-width: 1024px) {
  button.form-input,
  button.form-input.invalid {
  width: 100%;
}
}

.form-input.invalid, 
.form-geb-input.invalid, 
button.form-input.invalid {
  border-color: red !important;
  border-width: 2px !important;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

button.submit-button {
  display: block;
  margin: 20px auto 0;
  background-color: #AA2E24;
  font-size: larger;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 19.2px;
  color: white;
  font-family: 'Overlock';
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  padding: 10px 60px;
  cursor: pointer;
  white-space: pre-wrap;
}

button.submit-button:hover {
  background-color: #FFA500;
  color: #AA2E24;
}

@media (max-width: 420px) {
  .form-align {
    padding-left: 5px;
  }

  .form-content {
    padding-left: 5px;
  }
}
.input-wrapper {
  position: relative;
}

.form-datepicker {
  display: none;
  position: absolute;
  z-index: 1000;
  background: white;
  border: 1px solid #d6d6d6;
  top: 100%;
  left: 0;
  margin-top: 5px;
  width: fit-content;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.open-datepicker {
  display: block !important;
}