:root {
    --desktop-nav-bg: #AA2E24;
    --color-white: #fff;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.desktop-nav-menu {
    display: flex;
    position: relative;
    align-items: center;    
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    z-index: 1;
    background: var(--desktop-nav-bg);
    text-align: left;
    color: var(--color-white);
    margin: 0 auto;
    padding: 10px 5px;
    max-width: 1200px;
    overflow: hidden;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 20px;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}

.subtext {
    font-size: 14px;
}

.logo {
    max-width: 250px;
    max-height: 100%;
    object-fit: contain;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: var(--desktop-nav-bg);
    width: 200px;
    top: 100%;
    left: 0;
    padding: 10px 0;
}

.dropdown-item {
    color: var(--color-white);
    padding: 10px 20px;
    cursor: pointer;
}

.nav-item:hover .dropdown-menu {
    display: block;
}