:root {
    --desktop-nav-bg: #AA2E24; /* Replace with your desired background color */
    --color-white: #fff; /* Replace with your desired text color */
}

.app-container {
    background-color: #F9F6F1;
}

body {
    font-family: "Sansita Swashed", cursive;
  }

  